@import url(https://fonts.googleapis.com/css?family=Poppins:regular);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Poppins", arial;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", arial;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(24, 24, 24, 0.3);
  min-height: 90px;
}

@supports (padding-left: clamp( 0.9375rem , -4.7832319722rem  +  11.9026933102vw , 9.5rem )) {
  .header__content {
    padding-left: clamp( 0.9375rem , -4.7832319722rem  +  11.9026933102vw , 9.5rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -4.7832319722rem  +  11.9026933102vw , 9.5rem )) {
  .header__content {
    padding-left: calc(0.9375rem + 8.5625 * (100vw - 48.0625rem) / 71.9375);
  }
}

@supports (padding-right: clamp( 0.9375rem , -4.28214596rem  +  10.8601216334vw , 8.75rem )) {
  .header__content {
    padding-right: clamp( 0.9375rem , -4.28214596rem  +  10.8601216334vw , 8.75rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -4.28214596rem  +  10.8601216334vw , 8.75rem )) {
  .header__content {
    padding-right: calc(0.9375rem + 7.8125 * (100vw - 48.0625rem) / 71.9375);
  }
}

.content-header__logo svg {
  opacity: 1;
  fill: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-header__logo svg:hover {
  fill: #181818;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-open .content-header .menu__body {
  left: 0;
}

.content-header .menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-open .content-header .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-header .menu__item {
  font-size: 1rem;
  line-height: 1.25rem;
  -webkit-transition: all 0.3s easy-in-out;
  -o-transition: all 0.3s easy-in-out;
  transition: all 0.3s easy-in-out;
}

.menu-open .content-header .menu__item {
  font-size: 1.25rem;
  padding-bottom: 15px;
}

.content-header .menu__item_button {
  color: rgba(0, 0, 0, 0.3);
  padding: 9px 20px 13px 20px;
  background-color: #fff;
  border-radius: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-open .content-header .menu__item_button {
  background-color: inherit;
  color: #fff;
  padding: 0;
}

.content-header .menu__item_button:hover {
  color: #fff;
  border: 2px solid #fff;
  padding: 7px 18px 11px 18px;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-open .content-header .menu__item_button:hover {
  border: none;
  padding: 0;
  background-color: inherit;
}

@supports (padding-right: clamp( 0.5rem , -0.5021720243rem  +  2.0851433536vw , 2rem )) {
  .content-header .menu__item:not(:last-child) {
    padding-right: clamp( 0.5rem , -0.5021720243rem  +  2.0851433536vw , 2rem );
  }
}

@supports not (padding-right: clamp( 0.5rem , -0.5021720243rem  +  2.0851433536vw , 2rem )) {
  .content-header .menu__item:not(:last-child) {
    padding-right: calc(0.5rem + 1.5 * (100vw - 48.0625rem) / 71.9375);
  }
}

.content-header .menu__item:hover {
  color: #181818;
  text-decoration: underline;
}

.content-header .menu-open__list {
  display: block;
}

.content-header .icon-menu {
  display: none;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

@supports (padding-top: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem )) {
  .footer__body {
    padding-top: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem )) {
  .footer__body {
    padding-top: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem )) {
  .footer__body {
    padding-bottom: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem )) {
  .footer__body {
    padding-bottom: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-left: clamp( 1.875rem , 0.0315217391rem  +  9.2173913043vw , 8.5rem )) {
  .footer__body {
    padding-left: clamp( 1.875rem , 0.0315217391rem  +  9.2173913043vw , 8.5rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , 0.0315217391rem  +  9.2173913043vw , 8.5rem )) {
  .footer__body {
    padding-left: calc(1.875rem + 6.625 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 1.875rem , 0.0315217391rem  +  9.2173913043vw , 8.5rem )) {
  .footer__body {
    padding-right: clamp( 1.875rem , 0.0315217391rem  +  9.2173913043vw , 8.5rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 0.0315217391rem  +  9.2173913043vw , 8.5rem )) {
  .footer__body {
    padding-right: calc(1.875rem + 6.625 * (100vw - 20rem) / 71.875);
  }
}

.body-footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  border-bottom: 2px solid;
  width: 100%;
}

@supports (gap: clamp( 0.9375rem , -3.4972826087rem  +  22.1739130435vw , 16.875rem )) {
  .body-footer__top {
    gap: clamp( 0.9375rem , -3.4972826087rem  +  22.1739130435vw , 16.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , -3.4972826087rem  +  22.1739130435vw , 16.875rem )) {
  .body-footer__top {
    gap: calc(0.9375rem + 15.9375 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 1rem , 0.652173913rem  +  1.7391304348vw , 2.25rem )) {
  .body-footer__top {
    padding-bottom: clamp( 1rem , 0.652173913rem  +  1.7391304348vw , 2.25rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , 0.652173913rem  +  1.7391304348vw , 2.25rem )) {
  .body-footer__top {
    padding-bottom: calc(1rem + 1.25 * (100vw - 20rem) / 71.875);
  }
}

.top-body__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-content__logo {
  padding-bottom: 20px;
}

.left-content__logo svg {
  opacity: 1;
  fill: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.left-content__logo svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.left-content__descr {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #C0C0C0;
}

@supports (padding-right: clamp( 1.875rem , 0.622826087rem  +  6.2608695652vw , 6.375rem )) {
  .right-content {
    padding-right: clamp( 1.875rem , 0.622826087rem  +  6.2608695652vw , 6.375rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 0.622826087rem  +  6.2608695652vw , 6.375rem )) {
  .right-content {
    padding-right: calc(1.875rem + 4.5 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 0.9375rem , -0.0190217391rem  +  4.7826086957vw , 4.375rem )) {
  .right-content__list:not(:last-child) {
    padding-right: clamp( 0.9375rem , -0.0190217391rem  +  4.7826086957vw , 4.375rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -0.0190217391rem  +  4.7826086957vw , 4.375rem )) {
  .right-content__list:not(:last-child) {
    padding-right: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 71.875);
  }
}

.list-footer__title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #c0c0c0;
}

.list-footer__item {
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-transition: all 0.3 ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

.list-footer__item:hover {
  text-decoration: underline;
}

.list-footer__item:not(:last-child) {
  padding-bottom: 10px;
}

.mid-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  border-bottom: 2px solid;
  width: 100%;
}

@supports (gap: clamp( 1.875rem , -14.8278670721rem  +  34.7523892268vw , 26.875rem )) {
  .mid-body {
    gap: clamp( 1.875rem , -14.8278670721rem  +  34.7523892268vw , 26.875rem );
  }
}

@supports not (gap: clamp( 1.875rem , -14.8278670721rem  +  34.7523892268vw , 26.875rem )) {
  .mid-body {
    gap: calc(1.875rem + 25 * (100vw - 48.0625rem) / 71.9375);
  }
}

@supports (padding-top: clamp( 1.125rem , 0.8119565217rem  +  1.5652173913vw , 2.25rem )) {
  .mid-body {
    padding-top: clamp( 1.125rem , 0.8119565217rem  +  1.5652173913vw , 2.25rem );
  }
}

@supports not (padding-top: clamp( 1.125rem , 0.8119565217rem  +  1.5652173913vw , 2.25rem )) {
  .mid-body {
    padding-top: calc(1.125rem + 1.125 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 1.125rem , 0.8119565217rem  +  1.5652173913vw , 2.25rem )) {
  .mid-body {
    padding-bottom: clamp( 1.125rem , 0.8119565217rem  +  1.5652173913vw , 2.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.125rem , 0.8119565217rem  +  1.5652173913vw , 2.25rem )) {
  .mid-body {
    padding-bottom: calc(1.125rem + 1.125 * (100vw - 20rem) / 71.875);
  }
}

.left-mid__title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.left-mid__text {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #C0C0C0;
}

@supports (width: clamp( 16.875rem , 13.6054347826rem  +  16.347826087vw , 28.625rem )) {
  .right-mid {
    width: clamp( 16.875rem , 13.6054347826rem  +  16.347826087vw , 28.625rem );
  }
}

@supports not (width: clamp( 16.875rem , 13.6054347826rem  +  16.347826087vw , 28.625rem )) {
  .right-mid {
    width: calc(16.875rem + 11.75 * (100vw - 20rem) / 71.875);
  }
}

.form {
  position: relative;
}

.form__sub {
  border-radius: 8px;
  width: 100%;
  max-height: 3.25rem;
}

.form__button {
  position: absolute;
  right: 6px;
  top: 11px;
  border-radius: 8px;
  content: "";
  width: 63px;
  height: 30px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.bot-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@supports (padding-top: clamp( 1.125rem , 0.4641304348rem  +  3.3043478261vw , 3.5rem )) {
  .bot-body {
    padding-top: clamp( 1.125rem , 0.4641304348rem  +  3.3043478261vw , 3.5rem );
  }
}

@supports not (padding-top: clamp( 1.125rem , 0.4641304348rem  +  3.3043478261vw , 3.5rem )) {
  .bot-body {
    padding-top: calc(1.125rem + 2.375 * (100vw - 20rem) / 71.875);
  }
}

.socials__link:not(:last-child) {
  padding-right: 20px;
}

.socials__link svg {
  fill: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.socials__link svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.no-webp .aperture__content{
  background-image: url(../img/iceland/back.png); }

.aperture__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 100%;
  background-position: center center;
}

@supports (padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem )) {
  .aperture__content {
    padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem )) {
  .aperture__content {
    padding-bottom: calc(1rem + 1.5 * (100vw - 20rem) / 71.875);
  }
}

@supports (min-height: clamp( 29.375rem , 25.0967391304rem  +  21.3913043478vw , 44.75rem )) {
  .aperture__content {
    min-height: clamp( 29.375rem , 25.0967391304rem  +  21.3913043478vw , 44.75rem );
  }
}

@supports not (min-height: clamp( 29.375rem , 25.0967391304rem  +  21.3913043478vw , 44.75rem )) {
  .aperture__content {
    min-height: calc(29.375rem + 15.375 * (100vw - 20rem) / 71.875);
  }
}

.content__info {
  text-align: center;
}

@supports (max-width: clamp( 15rem , 8.7391304348rem  +  31.3043478261vw , 37.5rem )) {
  .content__info {
    max-width: clamp( 15rem , 8.7391304348rem  +  31.3043478261vw , 37.5rem );
  }
}

@supports not (max-width: clamp( 15rem , 8.7391304348rem  +  31.3043478261vw , 37.5rem )) {
  .content__info {
    max-width: calc(15rem + 22.5 * (100vw - 20rem) / 71.875);
  }
}

.info {
  margin-bottom: 4px;
}

.info__proffesion {
  letter-spacing: 2px;
  margin-bottom: 1px;
  color: #c0c0c0;
}

@supports (font-size: clamp( 0.875rem , 0.875rem  +  0vw , 0.875rem )) {
  .info__proffesion {
    font-size: clamp( 0.875rem , 0.875rem  +  0vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.875rem  +  0vw , 0.875rem )) {
  .info__proffesion {
    font-size: calc(0.875rem + 0 * (100vw - 20rem) / 71.875);
  }
}

@supports (line-height: clamp( 0.875rem , 0.7706521739rem  +  0.5217391304vw , 1.25rem )) {
  .info__proffesion {
    line-height: clamp( 0.875rem , 0.7706521739rem  +  0.5217391304vw , 1.25rem );
  }
}

@supports not (line-height: clamp( 0.875rem , 0.7706521739rem  +  0.5217391304vw , 1.25rem )) {
  .info__proffesion {
    line-height: calc(0.875rem + 0.375 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 1.75rem , 1.297826087rem  +  2.2608695652vw , 3.375rem )) {
  .info__title {
    font-size: clamp( 1.75rem , 1.297826087rem  +  2.2608695652vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.297826087rem  +  2.2608695652vw , 3.375rem )) {
  .info__title {
    font-size: calc(1.75rem + 1.625 * (100vw - 20rem) / 71.875);
  }
}

@supports (line-height: clamp( 2.125rem , 1.6902173913rem  +  2.1739130435vw , 3.6875rem )) {
  .info__title {
    line-height: clamp( 2.125rem , 1.6902173913rem  +  2.1739130435vw , 3.6875rem );
  }
}

@supports not (line-height: clamp( 2.125rem , 1.6902173913rem  +  2.1739130435vw , 3.6875rem )) {
  .info__title {
    line-height: calc(2.125rem + 1.5625 * (100vw - 20rem) / 71.875);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4858695652rem  +  0.6956521739vw , 1.125rem )) {
  .info__title {
    margin-bottom: clamp( 0.625rem , 0.4858695652rem  +  0.6956521739vw , 1.125rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4858695652rem  +  0.6956521739vw , 1.125rem )) {
  .info__title {
    margin-bottom: calc(0.625rem + 0.5 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 0.875rem , 0.875rem  +  0vw , 0.875rem )) {
  .info__descr {
    font-size: clamp( 0.875rem , 0.875rem  +  0vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.875rem  +  0vw , 0.875rem )) {
  .info__descr {
    font-size: calc(0.875rem + 0 * (100vw - 20rem) / 71.875);
  }
}

@supports (line-height: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem )) {
  .info__descr {
    line-height: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem );
  }
}

@supports not (line-height: clamp( 1rem , 0.9304347826rem  +  0.347826087vw , 1.25rem )) {
  .info__descr {
    line-height: calc(1rem + 0.25 * (100vw - 20rem) / 71.875);
  }
}

.feature {
  width: 100%;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-right: clamp( 0.375rem , -0.1989130435rem  +  2.8695652174vw , 2.4375rem )) {
  .feature__list {
    padding-right: clamp( 0.375rem , -0.1989130435rem  +  2.8695652174vw , 2.4375rem );
  }
}

@supports not (padding-right: clamp( 0.375rem , -0.1989130435rem  +  2.8695652174vw , 2.4375rem )) {
  .feature__list {
    padding-right: calc(0.375rem + 2.0625 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 0.375rem , 0.2010869565rem  +  0.8695652174vw , 1rem )) {
  .feature__item:not(:last-child) {
    padding-right: clamp( 0.375rem , 0.2010869565rem  +  0.8695652174vw , 1rem );
  }
}

@supports not (padding-right: clamp( 0.375rem , 0.2010869565rem  +  0.8695652174vw , 1rem )) {
  .feature__item:not(:last-child) {
    padding-right: calc(0.375rem + 0.625 * (100vw - 20rem) / 71.875);
  }
}

.what__content {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem )) {
  .what__content {
    padding-top: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem )) {
  .what__content {
    padding-top: calc(0.9375rem + 6.5625 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem )) {
  .what__content {
    padding-bottom: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem )) {
  .what__content {
    padding-bottom: calc(0.9375rem + 6.5625 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-left: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem )) {
  .what__content {
    padding-left: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -0.8885869565rem  +  9.1304347826vw , 7.5rem )) {
  .what__content {
    padding-left: calc(0.9375rem + 6.5625 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem )) {
  .what__content {
    padding-right: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -0.5407608696rem  +  7.3913043478vw , 6.25rem )) {
  .what__content {
    padding-right: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 1.75rem , 1.5413043478rem  +  1.0434782609vw , 2.5rem )) {
  .content__title {
    font-size: clamp( 1.75rem , 1.5413043478rem  +  1.0434782609vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5413043478rem  +  1.0434782609vw , 2.5rem )) {
  .content__title {
    font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 71.875);
  }
}

@supports (line-height: clamp( 2.125rem , 1.9858695652rem  +  0.6956521739vw , 2.625rem )) {
  .content__title {
    line-height: clamp( 2.125rem , 1.9858695652rem  +  0.6956521739vw , 2.625rem );
  }
}

@supports not (line-height: clamp( 2.125rem , 1.9858695652rem  +  0.6956521739vw , 2.625rem )) {
  .content__title {
    line-height: calc(2.125rem + 0.5 * (100vw - 20rem) / 71.875);
  }
}

@supports (margin-bottom: clamp( 0.125rem , 0.072826087rem  +  0.2608695652vw , 0.3125rem )) {
  .content__title {
    margin-bottom: clamp( 0.125rem , 0.072826087rem  +  0.2608695652vw , 0.3125rem );
  }
}

@supports not (margin-bottom: clamp( 0.125rem , 0.072826087rem  +  0.2608695652vw , 0.3125rem )) {
  .content__title {
    margin-bottom: calc(0.125rem + 0.1875 * (100vw - 20rem) / 71.875);
  }
}

.content__subtitle {
  color: #c0c0c0;
  text-align: center;
}

@supports (font-size: clamp( 1.125rem , 1.0380434783rem  +  0.4347826087vw , 1.4375rem )) {
  .content__subtitle {
    font-size: clamp( 1.125rem , 1.0380434783rem  +  0.4347826087vw , 1.4375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0380434783rem  +  0.4347826087vw , 1.4375rem )) {
  .content__subtitle {
    font-size: calc(1.125rem + 0.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (line-height: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem )) {
  .content__subtitle {
    line-height: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem );
  }
}

@supports not (line-height: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem )) {
  .content__subtitle {
    line-height: calc(1.5rem + 0.375 * (100vw - 20rem) / 71.875);
  }
}

@supports (margin-bottom: clamp( 1rem , 0.547826087rem  +  2.2608695652vw , 2.625rem )) {
  .content__subtitle {
    margin-bottom: clamp( 1rem , 0.547826087rem  +  2.2608695652vw , 2.625rem );
  }
}

@supports not (margin-bottom: clamp( 1rem , 0.547826087rem  +  2.2608695652vw , 2.625rem )) {
  .content__subtitle {
    margin-bottom: calc(1rem + 1.625 * (100vw - 20rem) / 71.875);
  }
}

.cards {
  max-width: 1216px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (49%)[2];
  grid-template-columns: repeat(2, 49%);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  gap: 1rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@supports (padding-bottom: clamp( 1.875rem , 1.1967391304rem  +  3.3913043478vw , 4.3125rem )) {
  .card {
    padding-bottom: clamp( 1.875rem , 1.1967391304rem  +  3.3913043478vw , 4.3125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1967391304rem  +  3.3913043478vw , 4.3125rem )) {
  .card {
    padding-bottom: calc(1.875rem + 2.4375 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
  .card {
    padding-left: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
  .card {
    padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.4157608696rem  +  2.6086956522vw , 2.8125rem )) {
  .card {
    padding-right: clamp( 0.9375rem , 0.4157608696rem  +  2.6086956522vw , 2.8125rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.4157608696rem  +  2.6086956522vw , 2.8125rem )) {
  .card {
    padding-right: calc(0.9375rem + 1.875 * (100vw - 20rem) / 71.875);
  }
}

@supports (min-height: clamp( 25rem , 21.5217391304rem  +  17.3913043478vw , 37.5rem )) {
  .card {
    min-height: clamp( 25rem , 21.5217391304rem  +  17.3913043478vw , 37.5rem );
  }
}

@supports not (min-height: clamp( 25rem , 21.5217391304rem  +  17.3913043478vw , 37.5rem )) {
  .card {
    min-height: calc(25rem + 12.5 * (100vw - 20rem) / 71.875);
  }
}

.card__title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
  .card__title {
    padding-bottom: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
  .card__title {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

.card__descr {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #c0c0c0;
  padding-bottom: 6px;
}

.card__button {
  position: relative;
  max-width: 143px;
  border-radius: 16px;
  padding: 0.5625rem 0.625rem 0.8125rem 2.625rem;
  text-align: left;
  color: #000000;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__button::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #000000;
  z-index: 5;
  top: 5px;
  left: 5px;
  border-radius: 14px;
}

.card__button:hover {
  background-color: rgba(192, 192, 192, 0.3);
  color: #fff;
}

.no-webp .card-1{
  background-image: url(../img/what/1.png); }

.no-webp .card-2{
  background-image: url(../img/what/2.png); }

.no-webp .card-3{
  background-image: url(../img/what/3.png); }

.no-webp .card-4{
  background-image: url(../img/what/4.png); }

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 100%;
  background-position: center center;
}

@supports (padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem )) {
  .gallery__content {
    padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem )) {
  .gallery__content {
    padding-bottom: calc(1rem + 1.5 * (100vw - 20rem) / 71.875);
  }
}

@supports (min-height: clamp( 29.375rem , 27.1141304348rem  +  11.3043478261vw , 37.5rem )) {
  .gallery__content {
    min-height: clamp( 29.375rem , 27.1141304348rem  +  11.3043478261vw , 37.5rem );
  }
}

@supports not (min-height: clamp( 29.375rem , 27.1141304348rem  +  11.3043478261vw , 37.5rem )) {
  .gallery__content {
    min-height: calc(29.375rem + 8.125 * (100vw - 20rem) / 71.875);
  }
}

.no-webp .content-monstera{
  background-image: url(../img/monstera/back.png); }

.no-webp .content-japan{
  background-image: url(../img/japan/back.png); }

.no-webp .content-nepal{
  background-image: url(../img/nepal/back.png); }

.body-content__title {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info__text {
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  max-width: 18.625rem;
}

@supports (padding-bottom: clamp( 0.9375rem , -2.3494565217rem  +  16.4347826087vw , 12.75rem )) {
  .info__text {
    padding-bottom: clamp( 0.9375rem , -2.3494565217rem  +  16.4347826087vw , 12.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -2.3494565217rem  +  16.4347826087vw , 12.75rem )) {
  .info__text {
    padding-bottom: calc(0.9375rem + 11.8125 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.085326087rem  +  4.2608695652vw , 4rem )) {
  .info__text {
    padding-right: clamp( 0.9375rem , 0.085326087rem  +  4.2608695652vw , 4rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.085326087rem  +  4.2608695652vw , 4rem )) {
  .info__text {
    padding-right: calc(0.9375rem + 3.0625 * (100vw - 20rem) / 71.875);
  }
}

.tools__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
}

.body-tools__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.no-webp .body-tools__right{
  background-image: url(../img/sweden/back.png); }

.body-tools__right {
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (min-height: clamp( 24.375rem , 21.7663043478rem  +  13.0434782609vw , 33.75rem )) {
  .left-tools {
    min-height: clamp( 24.375rem , 21.7663043478rem  +  13.0434782609vw , 33.75rem );
  }
}

@supports not (min-height: clamp( 24.375rem , 21.7663043478rem  +  13.0434782609vw , 33.75rem )) {
  .left-tools {
    min-height: calc(24.375rem + 9.375 * (100vw - 20rem) / 71.875);
  }
}

.left-tools__content {
  max-width: 37.5rem;
}

.left-tools__subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  padding-bottom: 6px;
}

.left-tools__title {
  line-height: 2rem;
  padding-bottom: 0.875rem;
}

@supports (font-size: clamp( 1.5rem , 1.4304347826rem  +  0.347826087vw , 1.75rem )) {
  .left-tools__title {
    font-size: clamp( 1.5rem , 1.4304347826rem  +  0.347826087vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.4304347826rem  +  0.347826087vw , 1.75rem )) {
  .left-tools__title {
    font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 71.875);
  }
}

.left-tools__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 1.25rem;
}

.right-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@supports (min-height: clamp( 24.375rem , 21.7663043478rem  +  13.0434782609vw , 33.75rem )) {
  .right-tools {
    min-height: clamp( 24.375rem , 21.7663043478rem  +  13.0434782609vw , 33.75rem );
  }
}

@supports not (min-height: clamp( 24.375rem , 21.7663043478rem  +  13.0434782609vw , 33.75rem )) {
  .right-tools {
    min-height: calc(24.375rem + 9.375 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem )) {
  .right-tools {
    padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , 0.5826086957rem  +  2.0869565217vw , 2.5rem )) {
  .right-tools {
    padding-bottom: calc(1rem + 1.5 * (100vw - 20rem) / 71.875);
  }
}

.clients__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #000000;
}

@supports (min-height: clamp( 26.25rem , 24.8586956522rem  +  6.9565217391vw , 31.25rem )) {
  .clients__body {
    min-height: clamp( 26.25rem , 24.8586956522rem  +  6.9565217391vw , 31.25rem );
  }
}

@supports not (min-height: clamp( 26.25rem , 24.8586956522rem  +  6.9565217391vw , 31.25rem )) {
  .clients__body {
    min-height: calc(26.25rem + 5 * (100vw - 20rem) / 71.875);
  }
}

.body-clients__title {
  line-height: 2.625rem;
}

@supports (padding-bottom: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
  .body-clients__title {
    padding-bottom: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
  .body-clients__title {
    padding-bottom: calc(0.9375rem + 0 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 1.75rem , 1.5413043478rem  +  1.0434782609vw , 2.5rem )) {
  .body-clients__title {
    font-size: clamp( 1.75rem , 1.5413043478rem  +  1.0434782609vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5413043478rem  +  1.0434782609vw , 2.5rem )) {
  .body-clients__title {
    font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 71.875);
  }
}

.body-clients__subtitle {
  line-height: 1.875rem;
  color: #c0c0c0;
}

@supports (font-size: clamp( 1.25rem , 1.1804347826rem  +  0.347826087vw , 1.5rem )) {
  .body-clients__subtitle {
    font-size: clamp( 1.25rem , 1.1804347826rem  +  0.347826087vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1804347826rem  +  0.347826087vw , 1.5rem )) {
  .body-clients__subtitle {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .body-clients__subtitle {
    padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .body-clients__subtitle {
    padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 71.875);
  }
}

.body-clients__brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
  grid-template-columns: repeat(5, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .body-clients__brands {
    padding-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .body-clients__brands {
    padding-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .body-clients__brands {
    padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .body-clients__brands {
    padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 71.875);
  }
}

@supports (gap: clamp( 0.625rem , -3.491055941rem  +  8.5862966175vw , 6.8125rem )) {
  .body-clients__brands {
    gap: clamp( 0.625rem , -3.491055941rem  +  8.5862966175vw , 6.8125rem );
  }
}

@supports not (gap: clamp( 0.625rem , -3.491055941rem  +  8.5862966175vw , 6.8125rem )) {
  .body-clients__brands {
    gap: calc(0.625rem + 6.1875 * (100vw - 47.9375rem) / 72.0625);
  }
}

@supports (padding-left: clamp( 0.9375rem , -1.0165871639rem  +  4.0763226366vw , 3.875rem )) {
  .body-clients__brands {
    padding-left: clamp( 0.9375rem , -1.0165871639rem  +  4.0763226366vw , 3.875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.0165871639rem  +  4.0763226366vw , 3.875rem )) {
  .body-clients__brands {
    padding-left: calc(0.9375rem + 2.9375 * (100vw - 47.9375rem) / 72.0625);
  }
}

@supports (padding-right: clamp( 0.9375rem , -1.0165871639rem  +  4.0763226366vw , 3.875rem )) {
  .body-clients__brands {
    padding-right: clamp( 0.9375rem , -1.0165871639rem  +  4.0763226366vw , 3.875rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -1.0165871639rem  +  4.0763226366vw , 3.875rem )) {
  .body-clients__brands {
    padding-right: calc(0.9375rem + 2.9375 * (100vw - 47.9375rem) / 72.0625);
  }
}

.brands__logo svg {
  fill: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.brands__logo svg:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  fill: rgba(192, 192, 192, 0.7);
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #000000;
}

@supports (min-height: clamp( 22.125rem , 21.0815217391rem  +  5.2173913043vw , 25.875rem )) {
  .page__body {
    min-height: clamp( 22.125rem , 21.0815217391rem  +  5.2173913043vw , 25.875rem );
  }
}

@supports not (min-height: clamp( 22.125rem , 21.0815217391rem  +  5.2173913043vw , 25.875rem )) {
  .page__body {
    min-height: calc(22.125rem + 3.75 * (100vw - 20rem) / 71.875);
  }
}

.body-page__title {
  line-height: 2.625rem;
}

@supports (padding-bottom: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
  .body-page__title {
    padding-bottom: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
  .body-page__title {
    padding-bottom: calc(0.9375rem + 0 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 1.75rem , 1.5065217391rem  +  1.2173913043vw , 2.625rem )) {
  .body-page__title {
    font-size: clamp( 1.75rem , 1.5065217391rem  +  1.2173913043vw , 2.625rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5065217391rem  +  1.2173913043vw , 2.625rem )) {
  .body-page__title {
    font-size: calc(1.75rem + 0.875 * (100vw - 20rem) / 71.875);
  }
}

.body-page__subtitle {
  line-height: 1.875rem;
  color: #c0c0c0;
}

@supports (font-size: clamp( 1.25rem , 1.1804347826rem  +  0.347826087vw , 1.5rem )) {
  .body-page__subtitle {
    font-size: clamp( 1.25rem , 1.1804347826rem  +  0.347826087vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1804347826rem  +  0.347826087vw , 1.5rem )) {
  .body-page__subtitle {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 0.375rem , 0.2706521739rem  +  0.5217391304vw , 0.75rem )) {
  .body-page__subtitle {
    padding-bottom: clamp( 0.375rem , 0.2706521739rem  +  0.5217391304vw , 0.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.375rem , 0.2706521739rem  +  0.5217391304vw , 0.75rem )) {
  .body-page__subtitle {
    padding-bottom: calc(0.375rem + 0.375 * (100vw - 20rem) / 71.875);
  }
}

@media (max-width: 797.98px) {
  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 16px;
  }
}

@media (max-width: 48.0625em) {
  .header__content {
    padding-left: inherit;
  }

  .header__content {
    padding-right: inherit;
  }

  .content-header .menu__item:not(:last-child) {
    padding-right: inherit;
  }

  .mid-body {
    gap: inherit;
  }
}

@media (max-width: 47.99875em) {
  .content-header .menu__body {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5.625rem 0.9375rem 3.125rem 1.875rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }

  .content-header .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .content-header .icon-menu span,
  .content-header .icon-menu::before,
  .content-header .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .content-header .icon-menu::before {
    top: 0;
  }

  .content-header .icon-menu::after {
    bottom: 0;
  }

  .content-header .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .content-header .icon-menu span {
    width: 0;
  }

  .menu-open .content-header .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .content-header .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .body-footer__top {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

@supports (gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
    .body-footer__top {
      gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
    .body-footer__top {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.875);
    }
}

  .mid-body {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .bot-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bot-body__left {
    padding-bottom: 16px;
  }

  .cards {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
  }

  .body-content__title {
    text-align: center;
  }

  .info__text {
    text-align: center;
    padding-left: 15px;
  }

  .tools__body {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
  }

  .body-tools__left {
    padding: 0px 15px 0px 15px;
  }

  .body-clients__brands {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
  }

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem ))) {
    .body-clients__brands {
      -webkit-column-gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem );
         -moz-column-gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem );
              column-gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem ))) {
    .body-clients__brands {
      -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.875);
         -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.875);
              column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
    .body-clients__brands {
      gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.6766304348rem  +  1.3043478261vw , 1.875rem )) {
    .body-clients__brands {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 71.875);
    }
}
}

@media (max-width: 47.9375em) {
  .body-clients__brands {
    gap: inherit;
  }

  .body-clients__brands {
    padding-left: inherit;
  }

  .body-clients__brands {
    padding-right: inherit;
  }
}

@media (max-width: 29.99875em) {
  .body-clients__brands {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.webp .aperture__content{ background-image: url(../img/iceland/back.webp); }

.webp .card-1{ background-image: url(../img/what/1.webp); }

.webp .card-2{ background-image: url(../img/what/2.webp); }

.webp .card-3{ background-image: url(../img/what/3.webp); }

.webp .card-4{ background-image: url(../img/what/4.webp); }

.webp .content-monstera{ background-image: url(../img/monstera/back.webp); }

.webp .content-japan{ background-image: url(../img/japan/back.webp); }

.webp .content-nepal{ background-image: url(../img/nepal/back.webp); }

.webp .body-tools__right{ background-image: url(../img/sweden/back.webp); }